<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300347374326-hbbqfpbb4pd4j94g7e0m1kgrntahn8jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300347374326-hbbqfpbb4pd4j94g7e0m1kgrntahn8jf</string>
	<key>API_KEY</key>
	<string>AIzaSyAZVTxdXwqzY0kwjTSrLl-wLuBOaXO22ss</string>
	<key>GCM_SENDER_ID</key>
	<string>300347374326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.techtown.TestForRm</string>
	<key>PROJECT_ID</key>
	<string>testforrm-3fa64</string>
	<key>STORAGE_BUCKET</key>
	<string>testforrm-3fa64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300347374326:ios:45a9936dee1865ee2b0ad7</string>
	<key>DATABASE_URL</key>
	<string>https://testforrm-3fa64.firebaseio.com</string>
</dict>
</plist>